.container {
    display: flex;
    flex-wrap: wrap;
}

html {
  scroll-snap-type: block mandatory;
}


.tab {
    position: fixed;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

    /* Style the tab content */
.tabcontent { 
  display: none;
  margin-top: 50px;
  padding: 6px 12px;
  border: 1px solid blue;
}

.topbar {
  background-color: white;
  position: fixed;
  border: 1px solid red;
  left: 0%;
  top: 51px;
  z-index: 99;
}


  .scroller {
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
  }



.holder {
  position: relative;
  display: flex;
  margin-top: 75px;
  width: 50%;
  border: 1px solid black;
  bottom: 0;
}

  .holder img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    max-width: 50%;
    max-height: 80%;
    width: auto;
    height: auto; 
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  

.button-array button {
  width: 50px;
  height: 50px;
  margin: 0px 0px 10px 0px;

}

.button-array {
  margin: auto 20px;
  width: 50px;
  height: 250px;
  border: 1px solid black;
  text-align: center;
}


.button-array button:hover {
  background-color: #adadad;
}

.comment-section {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 50%;
  border: 1px solid black;
  overflow-y: auto;
  background-color: white;
  z-index: 100;
  padding: 5%;
}

.comment-section img {
  max-height: 50px;
  max-width: 50px;
  border: 1px solid black;
}



