.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin:40% 10%;
    width:30%;
    height:20%;
}

.tab {
    position: fixed;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  html {
    scroll-snap-type: block mandatory;
  }

  .scroller {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
.tabcontent { 
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.topbar {
  width: 100vw;
  height: 20vh;
  background-color: white;
  position: fixed;
  bottom: 75%;
}

.holder {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  
}

