.container {
    display: flex;
    flex-wrap: wrap;
}

html {
  scroll-snap-type: block mandatory;
  background-color: #1f2734;
}


.tab {
    position: fixed;
    overflow: hidden;
    border: 1px solid #9da4e6;
    background-color: #1f2734;
    top: 0;
    left: 0;
    z-index: 101;
  }
  
  header {
    color: white;
  }
  button {
    color: white;
    background-color: #1f2734;
  }

  label {
    color: white;
  }

  p {
    color: white;
  }

  input {
    background-color: #1f2734;
    background-color: black;
    color: white;
  }


  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #9da4e6;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

    /* Style the tab content */
.tabcontent { 
  display: none;
  margin-top: 50px;
  padding: 6px 12px;
  border: solid white;
  background-color: #192232;
}

h3 {
  color: white;
}

.topbar {
  display: block;
  padding: 70px 20px 0px;
  margin: 0;
  background-color: #192232;
  color: white;
  position: fixed;
  border: 1px solid #9da4e6;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
}

.topbar div {
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 20px;
}

#arena_info  {
  display: none;
  flex-grow: 4;
  margin-left: 50px;
}

#close_instructions_button {
  display: none;
}

#topbar_buttons {
  flex-grow: 2;
}

#topbar_buttons button {
  max-height : 25px;
  margin-right: 20px;
  flex-grow: 0;
}

.topbar input {
  height: 81px;
  flex-grow: 10;
  max-width: 90%;
}

.topbar button {
  flex-grow: 1;
}


  .scroller {
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
  }



.holder {
  position: relative;
  display: flex;
  margin-top: 75px;
  width: 50%;
  background-color: #10151e;
  bottom: 0;
}

  .holder img {
    object-fit: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    max-width: 50%;
    max-height: 80%;
    width: auto;
    height: auto; 
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #1b3c77;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #11449c;
  }
  

.button-array button {
  width: 50px;
  height: 50px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #9da4e6;
  border-radius: 50%;

}

.button-array {
  margin: auto 20px;
  width: 50px;
  height: 250px;
  text-align: center;
}


.button-array button:hover {
  background-color: #1b3c77;
}

.comment-section {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 50%;
  border: 1px solid #9da4e6;
  overflow-y: auto;
  background-color: #192232;
  z-index: 100;
  padding: 5%;
}

.comment-section img {
  max-height: 50px;
  max-width: 50px;
  border: 1px solid #9da4e6;
  margin: 0;
}

.comment-block {
  margin: 25px 0;
  justify-content: center;
  align-items: center;
}

.comment-like-button {
  height: 25px;
  width: 25px;
  padding: 0;
  margin-left: 50%;
}

.comment-like-button img {
  height: 20px;
  width: 20px;
}





